@import url(../MainCSS/root.css);


.reviewtitle{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.reviews div{
    display: flex;
    flex-direction: column;
    margin: 0  auto;
}
.reviewtitle h4{
    font-size: 1.5rem;
    font-weight: 200;
    font-family: signika;
    letter-spacing: 1px;
    color: var(--headertextcolor);
}
.reviews{
    min-height: 350px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: var(--headercolor);
    display: grid;
    grid-template-columns: 4fr 5fr 4fr;
}
.reviews div.reviewbox{
    text-align: center;
    padding: 20px 10px; 
    display: flex;
    flex-direction: row;
    gap: 1vh;
    position: relative;
    align-items: center;
    padding-top: 6vh;
}
.reviewbox p{
    font-family: signika;
    font-size: 1.2rem;
    color: var(--headertextclr);
}
.reviewbox span{
    font-family: logo;
    font-size: 1.5rem;
    color: rgba(250, 90, 90, 0.829);
}

.reviews i{
    color: #FFF;
    cursor: pointer;
}
.reviews .np{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.person1{
    animation: appearanimation 1.2s;
    animation-delay: 0.5s;
}
.reviewbox .person2{
    display: none;
    animation: appearanimation 1.2s;
}
.reviewbox .person3{
    display: none;
    animation: appearanimation 1.2s;
}
.reviewbox .person{
    display: none;
    animation: appearanimation 0.8s ease-in-out;
}