:root{
    --headertextclr: #fff;
    --headercolor: rgb(9, 29, 53);
}



@font-face{
    font-family: logo;
    src: url(../FONTS/Rajdhani-SemiBold.ttf);
}
@font-face {
    font-family: signika;
    src: url(../FONTS/SignikaNegative-Regular.ttf);
}
@font-face {
    font-family: abril;
    src: url(../FONTS/AbrilFatface-Regular.ttf);
}
@font-face {
    font-family: changa;
    src: url(../FONTS/ChangaOne-Regular.ttf);
}

@keyframes loginAnimation{
    0%{
        transform: translateX(300%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes RegisterAnimation{
    0%{
        transform: translateY(300%);
    }
    100%{
        transform: translateY(0);
    }
}