#hamburger-menu {
    display: inline-block;
    cursor: pointer;
}

#hamburger-menu span {
    display: none;
    width: 20px;
    height: 2px;
    margin: 5px auto;
    position: relative;
    background: var(--headertextclr);
    transition: all 0.4s ease-in-out;
}

#hamburger-menu span:last-child {
    margin-bottom: 0;
}

@media(max-width: 800px) {
    #hamburger-menu span {
        display: block;
    }

    #hamburger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    #hamburger-menu.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #hamburger-menu.active span:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }

    .services {
        position: fixed;
        right: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color: var(--headercolor);
        width: 100%;
        align-items: center;
        text-align: center;
        transition: 0.4s;
        padding-left: 0 !important;
    }

    .services li {
        margin: 10px 0;
    }

    .services.active {
        right: 0;
    }
}

@media (max-width: 500px) {
    .headerlogo .social i {
        display: none;
    }
}